.bl_itemManage{
  width: 100%;
  &_list{
    width: 100%;

    &_item{
      grid-template-columns: 30px 1fr auto;
      border-bottom: 1px dashed $col_gray_light;
      padding: 15px 10px;

      &_status{
        position: absolute;
        font-size: 10px;
        top: 5px;
        left: 10px;
      }

      &_icons{
        grid-template-columns: 1fr 1fr;
        font-size: 18px;
        &_success{
          color: $col_accent;
        }
  
        &_error{
          color: $col_theme;
        }
      }
    }
  }
  &_addBtn{
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 25px;
    &_icon{
      color: $col_orange;
    }
  }
}