.tx_left {
  text-align: left;
}
.tx_right {
  text-align: right;
}
.tx_center {
  text-align: center;
}
.tx_justify {
  text-align: justify;
}

.al_start {
  align-items: flex-start;
}
.al_end {
  align-items: flex-end;
}
.al_center {
  align-items: center;
}

.ju_start {
  justify-content: flex-start;
}
.ju_end {
  justify-content: flex-end;
}
.ju_center {
  justify-content: center;
}
.ju_between {
  justify-content: space-between;
}
.ju_around {
  justify-content: space-around;
}
.ju_right {
  justify-content: right;
}
.ju_left {
  justify-content: left;
}
