.fl_dir_row {
  flex-direction: row;
}
.fl_dir_rowRev {
  flex-direction: row-reverse;
}
.fl_dir_col {
  flex-direction: column;
}
.fl_dir_colRev {
  flex-direction: column-reverse;
}
.fl_wrap {
  flex-wrap: wrap;
}
.fl_shr_0 {
  flex-shrink: 0;
}
