.w_100 {
  width: 100%;
}
.vw_100 {
  width: 100vw;
}

.w_80 {
  width: 80%;
}
.vw_80 {
  width: 80vw;
}
.w_60 {
  width: 60%;
}
.w_20 {
  width: 20%;
}
.w_2 {
  width: 2%;
}

@include mq(md) {
  .w_100_pc {
    width: 100%;
  }
}
