.bl_exam{
    margin: 0 30px;
    position: relative;
    display: flex;
    &_main{
        width: 100%;
        display: grid;
        margin-top: 120px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}