.login_bl {
  &_title {
    line-height: 2em;
    font-size: 30px;
  }
  &_link {
    display: block;
    width: 28%;
    margin: 0 auto;
  }
  &_period {
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_period:before,
  &_period:after {
    content: "";
    border-top: 1px solid black;
    width: 40%;
  }
  &_period:before {
    margin-right: 1em; /* 文字の右隣 */
  }
  &_period:after {
    margin-left: 1em; /* 文字の左隣 */
  }
  &_google_btn {
    border-radius: 5px;
    background-color: #088ef6;
    color: white;
  }
}
