// トップ画面
.top {
  width: 70%;
  padding: 20% 10% 5%;

  &_btns {
    padding: 10px;
    border-radius: 5px;
    background-color: $col_orange;
    &_link {
      text-decoration: none;
      color: $col_white;
    }
  }
}
