// ログイン用カード
.login-card {
  width: 80%;
  margin: auto;
  padding: 10% 10%;
  form {
    width: 80%;
    margin: 10% auto 0 auto;
  }
  h1 {
    text-align: center;
  }

  // 入力部分
  width: 80%;
  margin: 0 auto;
  #mail,
  #pass,
  #login {
    width: 100%;
    line-height: 2em;
  }
  #mail {
    margin-bottom: 5%;
  }
  .checkbox-inline {
    display: block;
  }
  #login {
    margin-top: 2%;
    padding: 1%;
    border: none;
    border-radius: 10px;
  }
  // パスワードをお忘れの方
  #fg_ps {
    margin: 3% 0 5% 0;
    display: block;
    text-align: center;
    // color: aquamarine;
    text-decoration: none;
  }
  // アカウント作成
  .new_acounts {
    text-align: center;
    p {
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
  }
}
.new-acount_card {
  width: 60%;
  margin: 5% auto;
  form {
    margin-top: 10%;
    input {
      width: 100%;
      line-height: 2em;
      margin-bottom: 4%;
    }
    input:first-child {
      width: 70%;
    }
    #pass {
      margin: 0%;
    }
    #passmk {
      width: 10%;
    }
    label {
      display: block;
    }
    #regist {
      display: inline-block;
      margin-top: 2%;
      padding: 1%;
      width: 20%;
      border: none;
      border-radius: 10px;
    }
    #cancel {
      width: 20%;
      padding: 1% 6%;
      border: black 1px solid;
      border-radius: 10px;
      text-decoration: none;
    }
  }
}
.top-card {
  width: 60%;
  margin: 0 auto;
  h1 {
    margin: 5% 0 3% 0;
    text-align: center;
    line-height: 2em;
    font-size: 30px;
  }
}
