.top-card {
  width: 60%;
  margin: 0 auto;
  h1 {
    margin: 5% 0 3% 0;
    text-align: center;
    line-height: 2em;
    font-size: 30px;
  }
  form {
    margin-top: 5%;
    input {
      width: 100%;
      line-height: 2.5em;
      margin-bottom: 4%;
    }
    .checkbox-inline {
      display: block;
    }
    #pass {
      margin: 0%;
    }
    #passmk {
      margin-top: 0;
      width: 2%;
    }
    #regist {
      padding: 1% 0 1% 0;
      background-color: #ff6a06;
      border: none;
      border-radius: 10px;
    }
  }
  #ps_reset {
    display: block;
    width: 28%;
    margin: 0 auto;
  }
  p {
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p:before,
  p:after {
    content: "";
    border-top: 1px solid black;
    width: 40%;
  }
  p:before {
    margin-right: 1em; /* 文字の右隣 */
  }
  p:after {
    margin-left: 1em; /* 文字の左隣 */
  }
  .google_button {
    padding: 10px 25px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #088ef6;
    color: white;
  }
}
